@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8a002c;
}

#container {
    margin-top: 10vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: center;
    margin-top: 25vh;
    user-select: none;
}

#bookform {
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

#bookform .input-box {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
}

.input-box input {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 20px 4px 10px;
    width: 300px;
}

.input-box span {
    padding: 5px 10px;
}

.input-box span:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.input-send {
    text-align: right;
}

.input-send input {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px 4px 10px;
    background-color: #2c8a00;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 0;
    transform: translateY(-20px);
}

.savedBookmarks{
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    color: white;
    width: 400px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.savedBookmarks a {
    color: white;
    padding: 5px 10px 4px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.visit {
    background-color: #2c8a00;
}

.delete {
    background-color: red;
}